@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-from: #eff6ff; /* สีอ่อน (light) */
  --gradient-via: #f3f3f3; /* สีกลาง (mid) */
  --gradient-to: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-from: #232526; 
    --gradient-to: #414345; 
  }
} */
[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gradient-from: #0f0f0f;
  --gradient-via: #1a1a2e;  
  /* mid gradient */
  --gradient-to: #0f0f0f;
}

body {
  height: 100%;
  min-height: 100vh; 
  
  /* background: var(--background) ; */
  background: linear-gradient(90deg, var(--gradient-from),var(--gradient-via), var(--gradient-to));
  /* color: var(--foreground); */
  font-family: Rubik, Arial, Helvetica, sans-serif;
} 
